# requirements.txt
# This file lists all Python packages required to run the rocket model.
# Install them with: pip install -r requirements.txt
# Verify installation by running steady_venv_testing.py

# General dependencies
json5==0.10.0
matplotlib==3.9.3
numpy==2.1.3
pandas==2.2.3
scipy==1.15.1

# Project-specific dependencies
git+https://github.com/Leo11235/AttrDict.git # fixed for python 3.13
git+https://github.com/Leo11235/pypropep.git # removed annoying print statements