<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steady State Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <h1>Steady State Model</h1>

    <!-- very long list of inputs below -->
    <form id="rocketForm" action="/steady-results" method="POST">
        <div class="input-group">
            <label>Rocket name:</label>
            <input type="text" name="rocketName" placeholder="Ancalagon" />
        </div>

        <div class="input-group">
            <label>Target apogee:</label>
            <input type="text" name="targetApogee" placeholder="45000" />
            <label> ft</label>
        </div>

        <div class="input-group">
            <label>Oxidizer mass flow rate:</label>
            <input type="text" name="oxidizerMassFlowRate" placeholder="3" />
            <label> kg/m^3 </label>
        </div>

        <div class="input-group">
            <label>Chamber pressure:</label>
            <input type="text" name="chamberPressure" placeholder="500" />
            <label> psi</label>
        </div>

        <div class="input-group">
            <label>Fuel external diameter:</label>
            <input type="text" name="fuelExternalDiameter" placeholder="6" />
            <label> in</label>
        </div>

        <div class="input-group">
            <label>Fuel length:</label>
            <input type="text" name="fuelLength" placeholder="24" />
            <label> in</label>
        </div>

        <h4>PROPEP inputs: </h4>

        <div class="input-group">
            <label>Solid fuel type:</label>
            <input type="text" name="fuelType" placeholder="EICOSANE (PARAFFIN)" />
        </div>

        <div class="input-group">
            <label>Oxidizer type:</label>
            <input type="text" name="oxidizerType" placeholder="NITROUS OXIDE" />
        </div>

        <h4>Other inputs: </h4>

        <div class="input-group">
            <label>Launch site altitude:</label>
            <input type="text" name="launchSiteAltitude" placeholder="1194" />
            <label> ft</label>
        </div>

        <div class="input-group">
            <label>Dry mass:</label>
            <input type="text" name="dryMass" placeholder="88.89" />
            <label> kg</label>
        </div>

        <div class="input-group">
            <label>Rocket external diameter:</label>
            <input type="text" name="rocketExternalDiameter" placeholder="8.1" />
            <label> in</label>
        </div>

        <div class="input-group">
            <label>Drag coefficient:</label>
            <input type="text" name="dragCoefficient" placeholder="0.641606" />
        </div>

        <div class="input-group">
            <label>Launch angle:</label>
            <input type="text" name="launchAngle" placeholder="6" />
            <label> degrees</label>
        </div>

        <div class="input-group">
            <label>Fuel grain density:</label>
            <input type="text" name="fuelGrainDensity" placeholder="900" />
            <label> kg/m^3</label>
        </div>

        <div class="input-group">
            <label>Regression rate exponent:</label>
            <input type="text" name="regressionRateExponent" placeholder="0.555" />
        </div>

        <div class="input-group">
            <label>Regression rate scaling coefficient:</label>
            <input type="text" name="regressionRateScalingCoefficient" placeholder="0.000132" />
        </div>

        <button type="submit">Run Steady</button>

    </form>


</body>

</html>
